{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Авторизация{% endblock %}
form.as_p bootstrap

{% block content %}
<h2 class="text-muted h3 font-weight-bold">Авторизация</h2>

<br>

<p>
    Пожалуйста, введите свой логин и пароль. Если у вас нет учетной записи,
    <a href="{% url 'register' %}">зарегистрируйтесь</a>
</p>

<div class="form-group col-md-4 mb-0">
    {% if form.errors %}
    <div class="alert alert-danger">
        <p>Ваше имя пользователя или пароль введен неверно.Пожалуйста, попробуйте еще раз.</p>
    </div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}

        <br>

        <button type="submit" class="btn btn-outline-warning btn-block">Войти</button>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        <input type="hidden" name="next" value="{{next}}"/>
    </form>
</div>
{% endblock %}