{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Корзина{% endblock %}

{% block content %}
<p class="text-muted h3 font-weight-bold">Моя корзина</p>

<br>

<div class="row">
    <div class="col-sm-12 col-md-7">
            {% for item in cart %}
                {% with product=item.product %}
                    <div class="row">
                        <img class="col-2 img-fluid img-thumbnail" src="{{ product.image.url }}" alt="">
                        <div class="col-5 text-muted">{{ product.name }}</div>
                        <div class="col-2">{{ item.total_price }}₽</div>
                        <div class="col-2">{% include 'cart/include/editing_the_bucket.html' %}</div>
                    </div>
                    <br>
                {% endwith %}
            {% endfor %}

    </div>

    <div class="col-sm-12 col-md-3 bg-light rounded">
        <div><a href="{% url 'shop:category_list' %}" class="button light">Вернутся в каталог</a></div>
        <br>
        <div class="text-muted">В корзине:
            <span class="fs-6 text-dark fw-bold">{{ cart.get_total_price }}₽</span>
        </div>
        <br>
        <div class="d-grid gap-2">
            <a href="{% url 'orders:order_create' %}" class="btn btn-outline-warning btn-lg me-md-2">Продолжить</a>
        </div>
    </div>
</div>


{% endblock %}

