{% load static %}

<div class="footer mt-auto py-3 bg-dark" id="t124">
    <div class="container">
        <div class="row text-left">
            <address class="pl-2">
                <h2 class="brand1">Наши контакты</h2>
                <strong>Комиссионный магазин щедрый</strong><br>
                Омск, ул. Молодогвардейская, 5<br>
                Телефон: 8 913 620 29 41
            </address>
        </div>
        <div class="row text-center">
            <div class="col-12 cocial padding">
                <a href="https://vk.com/lombard_omsk">
                    <i class="fa fa-vk"></i>
                </a>
                <a href="https://www.avito.ru/user/ab99a7a3e181d731e076acdad6bbafd9/profile">
                    <img src="{% static 'img/Avito.png' %}" style="height: 35px">
                </a>
            </div>
        </div>
    </div>
</div>

