{% load static %}

<div class="footer mt-auto py-3 bg-dark" id="t124">
    <div class="container">
        <div class="row text-left text-white">
            <address class="pl-2">
                <div class="fw-bold fs-1">Щедрый</div>
                <div class="pb-2 fs-6 text-white-50">комиссионный магазин</div>
                <div class="fw-bold fs-6">Наши контакты</div>
                Омск, ул. Молодогвардейская, 5<br>
                Телефон: 8 913 620 29 41
            </address>
        </div>
        <div class="row text-center">
            <div class="col-12 cocial padding">
                <a href="https://vk.com/lombard_omsk">
                    <i class="fa fa-vk"></i>
                </a>
                <a href="https://www.avito.ru/user/ab99a7a3e181d731e076acdad6bbafd9/profile">
                    <img src="{% static 'img/Avito.png' %}" style="height: 35px">
                </a>
            </div>
        </div>
    </div>
</div>

