{% extends "account/base_account.html" %}
{% load static %}

{% block content %}
<div class="order-history container">
  <div class="back-button mr30">
    <a href="{% url 'dashboard' %}"><span class="icon-arrow"></span>назад</a>
  </div>
  <!--  -->
  <div class="order-history__header header-block mr30">
    <span class="header-block__text">Мои Заказы</span>
  </div>

  <div class="order-history__content page-orders-list mr40">

    {% for item in section %}
    <div class="page-orders-list__item">
      <div class="page-orders-list__content">
        <div class="page-orders-list__content-title">
          <!-- <span class="page-orders-list__content-close icon-close"></span> -->
          <span class="page-orders-list__content-checkmark icon-checkmark"></span>
          <span class="page-orders-list__content-text">
            <a href="{% url 'history_detail' item.id %}">№ {{ item.id }} от {{item.created|date:"d.m.Y"}}</a>
          </span>
        </div>
        <div class="page-orders-list__content-footer">Заказ выполнен</div>
      </div>
      <div class="page-orders-list__price">{{ item.sum_order }}<span class="rub"></span></div>
    </div>
    {% endfor %}

  </div>
  <!--  -->
  {% comment %} <div class="order-history__pagination pagination-product">
    <div class="pagination-product__arrow-1">
      <span class="icon-arrow"></span>
    </div>
    <!--  -->
    <div class="pagination-product__wrapper">
      <div class="pagination-product__item _active">1</div>
      <div class="pagination-product__item">2</div>
      <div class="pagination-product__item">3</div>
      <div class="pagination-product__item">4</div>
      <div class="pagination-product__item">...</div>
      <div class="pagination-product__item">10</div>
    </div>
    <!--  -->
    <div class="pagination-product__arrow-2 active">
      <span class="icon-arrow"></span>
    </div>
    <!--  -->
  </div> {% endcomment %}
  <!--  -->
</div>
{% endblock %}