{% load static %}

<div class="banner container">
    <!--  -->
    <div class="banner__item">
        <div class="banner__img">
            <img src="{% static '/img/banner/1.jpg' %}" alt="" />
        </div>
        <div class="banner__content">
            <span class="banner__content-header">Сколько стоит вещь?</span>
            <span class="banner__content-text">Сфотографируйте вещь, заполните форму и отправьте нам!</span>
        </div>
        <div class="banner__button">
            <a href="" class="btn-yellow">Подробней</a>
        </div>
    </div>
    <!--  -->
    <div class="banner__item">
        <div class="banner__img">
            <img src="{% static '/img/banner/catalog.jpg' %}" alt="" />
        </div>
        <div class="banner__content">
            <span class="banner__content-header">Каталог товаров</span>
            <span class="banner__content-text">Телефоны, компьютеры, телевизиры...</span>
        </div>
        <div class="banner__button">
            <a href="{% url 'shop:category_list' %}" class="btn-yellow">Подробней</a>
        </div>
    </div>
    <!--  -->
</div>