{% load static %}

<div class="main__slider container">
    <div class="slider-main swiper">
        <div class="swiper-wrapper">
            {% for item in slider_photo %}
            <div class="slider-main__slide swiper-slide">
                <a href="{{item.link_transition}}">
                    <picture>
                        <source type="image/webp" srcset="{{item.image.url}}">
                        <img src="{{item.imageOLD.url}}" alt="" />
                    </picture>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>