<div class="product-slider container">
    <div class="product-slider__header header-block">
        <span class="header-block__text">Новое поступление</span>
    </div>
    <!--  -->
    <div class="swiper" id="product__slider">
        <div class="product-slider__wrapper swiper-wrapper">
            {% for product in products %}
            <div class="product-slider__slide swiper-slide">
                <!--  -->
                <div class="product-slider__card product-card">
                    <div class="product-card__img">
                        <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="" /></a>
                    </div>
                    <div class="product-card__name">
                        <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                    </div>
                    <div class="product-card__price-inner">
                        <div class="product-card__price">{{product.price}}<span class="rub"></span>.</div>
                        <div class="product-card__inner-icon">
                            <div class="product-card__compare">
                                <span class="icon-compare"></span>
                            </div>
                            {{request.profile}}
                            <div class="product-card__favourites">
                                <span class="icon-favourites icon--hover" data-id-product='{{product.id}}'></span>
                            </div>
                        </div>
                    </div>



                    <a href="{% url 'cart:cart_add_js' product.id %}" class="product-card__buttom btn-cart">В корзину
                    </a>
                </div>
                <!--  -->
            </div>
            {% endfor %}
        </div>
    </div>
    <!--  -->
</div>