{% load static %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner rounded-3">
    <div class="carousel-item active">
        <a href="{% url 'shop:category_list' %}">
            <img class="d-block w-100" src="{% static 'img/slade_1.jpg' %}" alt="First slide">
        </a>
    </div>
    <div class="carousel-item">
        <a href="{% url 'shop:category_list' %}">
            <img class="d-block w-100" src="{% static 'img/slade_2.jpg' %}" alt="Second slide">
        </a>
    </div>
    <div class="carousel-item">
        <a href="{% url 'shop:buying_up' %}">
            <img class="d-block w-100" src="{% static 'img/slade_3.jpg' %}" alt="Third slide">
        </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>