{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1 class="text-muted h3 font-weight-bold">Восстановление пароля</h1>

    <p>Введите свой адрес электронной почты, чтобы получить новый пароль.</p>

    <form action="." method="post">
        <div class="form-group col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-0">
            {% csrf_token %}
            {{ form.email|as_crispy_field }}
            <p><input class="btn btn-outline-warning btn-block" type="submit" value="Восстановить пароль"></p>
        </div>
    </form>
{% endblock %}