{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<h1 class="text-muted h3 font-weight-bold">Восстановление пароля</h1>

<br>

<div class="form-group col-sm-12 col-md-6 col-lg-5 col-xl-4 mb-0">
    {% if validlink %}
    <p>Пожалуйста, введите свой новый пароль:</p>
    <form action="." method="post">
        {{ form.new_password1|as_crispy_field }}
        {{ form.new_password2|as_crispy_field }}
        {% csrf_token %}

        <br>

        <p>
            <input class="btn btn-outline-warning btn-lg btn-block" type="submit" value="Изминить пароль"/>
        </p>
    </form>
    {% else %}
    <p>
        Ссылка на сброс пароля была недействительной, возможно, потому, что она
        уже был использована. Пожалуйста, запросите новый сброс пароля.
    </p>
    {% endif %}
</div>
{% endblock %}