<div class="container">
    <div class="footer__wrapper">
        <!--  -->
        <div class="footer__column">
            <div class="footer__title">
                <a class="footer__logo-link" href=""><span>комиссионный магазин</span> <span>щедрый</span></a>
            </div>
            <div class="footer__content">
                <div class="footer__content-text --footer-text">
                    Использование материалов данного сайта разрешается только по согласию с владельцем.
                </div>
            </div>
        </div>
        <!--  -->
        <div class="footer__column block__item" data-spollers="750,max">
            <div class="footer__title" tabindex="-1" data-spoller>Подписывайтесь на нас</div>
            <div class="footer__content">
                <div class="social-footer">
                    <!--  -->
                    <div class="social-footer__social-item">
                        <div class="social-footer__social-icon">
                            <img src="/img/footer/avito.svg" alt="" />
                        </div>
                        <div class="social-footer__social-text --footer-text">Авито</div>
                    </div>
                    <!--  -->
                    <div class="social-footer__social-item">
                        <div class="social-footer__social-icon">
                            <img src="/img/footer/vk.svg" alt="" />
                        </div>
                        <div class="social-footer__social-text --footer-text">Вконтакте</div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!--  -->
        <div class="footer__column" data-spollers="750,max">
            <div class="footer__title" tabindex="-1" data-spoller>Контакты</div>
            <div class="footer__content">
                <div class="contact-footer">
                    <!--  -->
                    <div class="contact-footer__item">
                        <span class="icon-phone"></span>
                        <a href="tel:+74957252525" class="contact-footer__text --footer-text">+7 (495) 725 25 25</a>
                    </div>
                    <!--  -->
                    <div class="contact-footer__item">
                        <span class="icon-location"></span>
                        <div class="contact-footer__text --footer-text">ул Тверская, 17, офис 738</div>
                    </div>
                    <!--  -->
                    <div class="contact-footer__item">
                        <span class="icon-mail"></span>
                        <div class="contact-footer__text --footer-text">mail@mail.ru</div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!--  -->
    </div>
    <div class="footer__copyright">Название компании © 2022 | Шаблонер | Все права защищены</div>
</div>