<div class="container">
    <div class="header__wrapper">
        <div class="header__burger cart-burger">
            <span></span>
        </div>

        <div class="header__logo">
            <a class="header__logo-link" href=""><span>комиссионный магазин</span> <span>щедрый</span></a>
        </div>

        <div class="header__search search-header">
            <div class="search-header__inner">
                <input type="text" class="search-header__input" />
                <button class="search-header__button"><span class="icon-search"></span></button>
            </div>
        </div>

        <div class="header__menu header__menu-burger">
            <ul class="header__list">
                <li class="header__item"><a class="header__link" href="">Каталог</a></li>
                <li class="header__item"><a class="header__link" href="">Покупаем</a></li>
                <li class="header__item header__item-off"><a class="header__link" href="">Личный кабинет</a></li>
                <li class="header__item header__item-off"><a class="header__link" href="">Избранные товары</a></li>
            </ul>
        </div>

        <div class="header__menu">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="">
                        <span class="header__link-icon icon-user"></span>
                        <span>Личный кабинет</span>
                    </a>
                </li>

                <li class="header__item">
                    <a class="header__link" href=""><span class="header__link-icon icon-favourites"></span></a>
                </li>

                <li class="header__item">
                    <a class="header__link" href="">
                        <div class="header__cart cart-header">
                            <div class="cart-header__icon icon-cart"></div>
                            <div class="cart-header__counter">1</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>