{% load static %}
<!-- <script src="/js/baguetteBox.js"></script> -->
<!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script> -->
<!-- <script src="/js/init_maps.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script src="/js/filter.js"></script>
      <script src="/js/scroll.js"></script> -->
<!-- <script src="/js/parallax.js"></script> -->
<!-- <script src="/js/menu.js"></script> -->
<!-- <script src="/js/responsiv.js"></script> -->

<!-- <script src="/js/clean-js/pop-up.js"></script> -->
<!-- <script src="/js/run.js"></script> -->


<!-- <script src="/js/clean-js/sidebar-menu.js"></script> -->
<!-- <script src="/js/clean-js/search-bar.js"></script> -->

<!-- <script src="/js/clean-js/click_responsive.js"></script> -->



<script src="{% static '/js/accordion.js' %}"></script>
<script src="{% static '/js/burger.js' %}"></script>
<script src="{% static '/libs/swiper/swiper-bundle.js' %}"></script>
<script src="{% static '/libs/swiper/run-swiper.js' %}"></script>
<script src="{% static '/libs/swiper/run-swiper-product.js'%}"></script>