{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="text-secondary" href="{{ product.category.get_absolute_url }}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> {{product.category }}
            </a>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            {% for image_item in product.productimage.all %}
                <img src="{{ image_item.image.url }}" class="img-fluid" alt="Responsive image">
            {% endfor %}
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <h4 class="text-muted font-weight-bold">{{ product.name }}</h4>
            <h2 class="text-dark h2 font-weight-bold">{{ product.price }}₽</h2>
            {% include 'include/detail/ExampleModal.html' %}
            {% include 'include/detail/NavTabs.html' %}
        </div>
    </div>
</div>

{% endblock %}