{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center padding">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <!--Категории-->
            {% include 'include/list/category.html' %}
        </div>

        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <!--Списко продуктов-->
            {% include 'include/list/product_list.html' %}

            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <!--Навигационная панель-->
                    {% include 'include/list/inPagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}