{% extends "shop/base_shop.html" %}

{% load search_filter %}

{% block productfilter %}
{% endblock productfilter %}


{% block content %}
<div class="row">
    <nav aria-label="breadcrumb" class="mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop:category_list' %}">Категории</a></li>
            <li class="breadcrumb-item active">{{ categories }}</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div id="t128" class="col-3">
        <!--Фильтры-->
        {% include 'shop/product_list/include/filters2.html' %}
    </div>
    <div class="col-12 col-lg-9">
        {% include 'shop/product_list/include/filters.html' %}
        <div class="row">
            {% for product in category_products %}
            <div class="col-6 col-md-4 border-end border-bottom m-0">
                <div class="col-11 mx-3">
                    {% for prw in product.productimage_set.all %}
                    {% if prw.is_main %}
                    <a  href="{{ product.get_absolute_url }}">
                        <img class="card-img-top" src="{{prw.image.url}}" alt="">
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-12 top-0 mt-2 mx-3">
                    <a class="text-dark" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </div>
                <div class="col-10 mx-3">
                    <h1 class="text-warning bg-dark bg-gradient rounded text-center fw-bolder fs-3 text">{{ product.price }}₽</h1>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--Пагинация-->
        {% include 'shop/product_list/include/pagination3.html' %}
    </div>
</div>
{% endblock content %}