{% extends "base.html" %}

{% load search_filter %}

{% block productfilter %}
{% endblock productfilter %}


{% block content %}



<nav aria-label="breadcrumb" class="mt-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'shop:category_list' %}">Категории</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
    </ol>
</nav>
<!--Фильтры-->
{% include 'shop/product_list/include/filters.html' %}
<br><br>
<div class="row">
    {% for product in category_products %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }} руб.</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--Навигационная панель-->
{% include 'shop/product_list/include/pagination.html' %}


{% endblock content %}