{% extends "shop/base_shop.html" %}

{% load search_filter %}

{% block productfilter %}
{% endblock productfilter %}


{% block content %}


<div class="row">
    <div id="t128" class="col-3">
        <!--Фильтры-->
        {% include 'shop/product_list/include/filters2.html' %}
    </div>
    <div class="col-12 col-lg-9">
        {% include 'shop/product_list/include/filters.html' %}


        <div class="row">

            {% for product in category_products %}





            {% endfor %}
        </div>
        <!--Пагинация-->
        {% include 'shop/product_list/include/pagination3.html' %}
    </div>
</div>
{% endblock content %}