{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Корзина{% endblock %}

{% block content %}
    <p class="text-muted h3 font-weight-bold">Оформление заказа</p>

    <br>

    <div class="order-info">
        <h3>Ваш заказ</h3>
            <ul>
              {% for item in cart %}
              <li>
                  {{ item.quantity }} шт. {{ item.product.name }}
                  <!--<span>{{ item.total_price }}₽</span>-->
              </li>
              {% endfor %}
            </ul>
        <h5>В корзине: {{ cart.get_total_price }}₽</h5>
    </div>

    <br>

    <div class="form-group col-md-6 mb-0">
        <form action="." method="post" class="order-form">
            {{ form.first_name|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.phone_number|as_crispy_field }}
            <p><input class="btn btn-outline-warning btn-lg btn-block" type="submit" value="Оформить"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
