<div class="product__details details-product">
    <div class="details-product__content">
        <div class="details-product__header header-block">
            <span class="header-block__text">{{product.name }}</span>
        </div>
        <div class="details-product__availability">В наличии</div>
        <div class="details-product__icon">
            <div class="details-product__compare">
                <span class="icon-compare"></span>
            </div>
            <div class="details-product__favourites">
                <form action="{% url 'favorite' %}" method='post' name='reting'>
                    {% csrf_token %}
                    <span class="icon-favourites icon--hover {% if favorit %}active{% endif %}"></span>
                    <input type="hidden" name='id_product' value='{{product.id}}'>
                    <input type="hidden" name='title_product' value='{{product.name}}'>
                    <input type="hidden" name='profile_favorite' value='{{request.user.id}}'>
                </form>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="details-product__purchase">
        <div class="details-product__price">{{ product.price }}<span class="rub"></span></div>
        <div class="details-product__btn-inner">

            <a href="{% url 'cart:cart_add_js' product.id %}"
                class="details-product__btn btn-cart">Корзина
            </a>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                <div style="display:none">{{ cart_product_form.quantity }}</div>
                <button type='submit' class="details-product__btn btn-black-n">Купить в 1 клик</button>
            </form>
        </div>
    </div>
    <!--  -->
</div>