<div class="product__tabs tabs">
    <div class="tabs__nav">
        <a href="" class="tabs__btn tabs__btn_active">Описание</a>
        <a href="" class="tabs__btn">Характеристики</a>
        <a href="" class="tabs__btn">Самовывоз</a>
    </div>
    <div class="tabs__content">
        <div class="tabs__pane tabs__pane_show">
            {% if product.description %}
            {{product.description}}
            {% else %}
            <div>Похоже, что описание ещё не заполнено. Скоро мы это исправим!</div>
            {% endif %}

        </div>
        <div class="tabs__pane">
            <!-- Характеристики -->
            <div class="description-list">
                {{product.name_spec}}
                {% if product.name_spec == '' %}
                <div>Похоже, что характеристики ещё не заполнены. Скоро мы это исправим!</div>
                {% endif %}

                <!--  -->
                {% comment %} <div class="description-list__item">
                    <div class="description-list__item-title">Общие характеристики</div>
                    <div class="description-list__item-content">
                        <div class="description-list__item-row">
                            <div class="description-list__item-name">Вес</div>
                            <div class="description-list__item-value">196 г</div>
                        </div>
                        <div class="description-list__item-row">
                            <div class="description-list__item-name">Количество SIM-карт</div>
                            <div class="description-list__item-value">2</div>
                        </div>
                        <div class="description-list__item-row">
                            <div class="description-list__item-name">Размеры (ШxВxТ)</div>
                            <div class="description-list__item-value">75.9x164.4x9.1 мм</div>
                        </div>
                        <div class="description-list__item-row">
                            <div class="description-list__item-name">Тип</div>
                            <div class="description-list__item-value">смартфон</div>
                        </div>
                        <div class="description-list__item-row">
                            <div class="description-list__item-name">Тип корпуса</div>
                            <div class="description-list__item-value">классический</div>
                        </div>
                    </div>
                </div> {% endcomment %}
                <!--  -->
            </div>
            <!--  -->
        </div>
        <div class="tabs__pane">
            <div>
                <span>Адрес: </span>
                <span>г.Омск, ул Молодогвардейская, 5</span>
            </div>
            <div>
                <span>Телефон: </span>
                <a href="tel:+79136202941">+7 (913) 620 29 41</a>
            </div>

        </div>
    </div>
</div>