<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--css-->
    {% include 'include/link.html' %}
    <title>Характеристики товаров</title>
</head>
<body>
<div class="container">
    <h3 class="text-center">Админка характеристик</h3>
    <hr>
    <!--message-->
    {% include 'include/messages.html' %}

    <div class="row">
        <div class="col-md-4">
            <!--боковое меню-->
            {% include 'include/side_menu.html' %}
        </div>
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block productfeaturesupdate %}
    {% endblock productfeaturesupdate %}
    {% block massfeatures %}
    {% endblock %}
</div>
{% include 'include/script.html' %}

{% block js %}
{% endblock js%}

</body>
</html>