{% load crispy_forms_tags %}

<!-- Button trigger modal -->

<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 my-0 my-sm-0 my-lg-0 p-0">
<button type="button" class="btn btn-outline-warning btn-block btn-lg" data-toggle="modal" data-target="#exampleModal">
    Добавить в корзину
</button>
</div>

<br>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Оформление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-7 mb-7 sm-7">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form.quantity|as_crispy_field }}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-warning btn-lg btn-block" value="Оформить">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
