{% extends "account/base_account.html" %}

{% block content %}

<div class="authorization container">
    <div class="authorization__wrapper">
        <div class="authorization__title">
            <span>Восстановление пароля</span>
        </div>
        <div class="authorization__body">
            {% if form.errors %}
            <p>Ваше имя пользователя или пароль введен неверно.Пожалуйста, попробуйте еще раз.</p>
            {% endif %}

            {% if validlink %}
            <form action="." method="post">
                {% csrf_token %}
                <div class="authorization__email">
                    {{ form.new_password1 }}
                </div>
                <div class="authorization__password">
                    {{ form.new_password2 }}
                </div>

                <div class="authorization__btn">
                    <button type='submit' class="btn-yellow">Изминить пароль</button>
                </div>
                {% comment %} {{ form.new_password1.help_text }} {% endcomment %}
                <div>
                    <p>Ваш пароль должен содержать как минимум 8 символов.</p>
                    <p>Пароль не может состоять только из цифр.</p>
                </div>

            </form>
            {% else %}
            <p>
                Ссылка на сброс пароля была недействительной, возможно, потому, что она
                уже был использована. Пожалуйста, запросите новый сброс пароля.
            </p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}