{% extends "account/base_account.html" %}

{% block content %}
<div class="authorization container">
    <div class="authorization__wrapper">
        <div class="authorization__title">
            <span>Восстановление пароля</span>
        </div>
        <div class="authorization__body">
            <p>
                Мы отправили вам инструкцию на Email по установке нового пароля.
            </p>
            <br>
            <p>
                Если вы не получили электронное письмо, пожалуйста убедитесь, что адрес был указан верно.
            </p>
        </div>
    </div>
</div>
{% endblock %}