{% extends "account/base_account.html" %}

{% block content %}
<div class="authorization container">
    <div class="authorization__wrapper">
        <div class="authorization__title">
            <span>Введите свой адрес Email, чтобы получить новый пароль.</span>
        </div>
        <div class="authorization__body">
            {% if form.errors %}
            <p>Ваше имя пользователя или пароль введен неверно.Пожалуйста, попробуйте еще раз.</p>
            {% endif %}

            <form action="." method="post">
                {% csrf_token %}
                <div class="authorization__email">
                    {{ form.email }}
                </div>


                <div class="authorization__btn">
                    <button type='submit' class="btn-yellow">Восстановить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}