// ==============================
// Список продуктов
// ==============================

// Фильтры для товаров

.filters {
  .accordion-item {
    border: none;
  }
  .accordion-button {
    &:not(.collapsed) {
      color: black;
      background-color: white;
    }
    // &:not(.collapsed)::after {
    //   color: black;
    // }
    &:focus {
      box-shadow: none;
    }
  }
}

#btn-filters {
  display: none;
}

@media screen and (max-width: 991px) {
  #t128 {
    display: none;
  }
  #accordionFlushExample {
    display: block;
  }
  #btn-filters {
    display: block;
  }
}
