// ==============================
// Базовые стили
// ==============================
$my-yellow: #ffc107;

// body {
//   font-size: 16px;
// }

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: $my-yellow;
  }
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}
