{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<h2 class="text-muted h3 font-weight-bold">Добро пожаловать в личный кабинет!</h2>

<br>

<p><a href="{% url 'edit' %}">Изменить профиль</a></p>
<p><a href="{% url 'password_change' %}">Изменить пароль</a></p>
<p><a href="{% url 'history' %}">История заказов</a></p>

<p>
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-danger" href="{% url 'logout' %}">Выйти из учетной записи</a>
    {% endif %}
</p>
{% endblock %}