{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<a href="{% url 'dashboard' %}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Назад
</a>


<br><br>

<table class="table table-hover">
    <h1 class="text-muted h3 font-weight-bold">История заказов</h1>
    <thead>
    <tr>
        <th>№ заказа</th>
        <th>Цена</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
    {% for pS in section %}
    <tr>
        <td>{{ pS.order }}</td>
        <td>{{ pS.price }}</td>
        <td>{{ pS.product }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}