{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Создание аккаунта{% endblock %}

{% block content %}
<h2>Создание аккаунта</h2>
<p>Пожалуйста, зарегистрируйтесь, используя следующую форму:</p>

<br>

<form action="." method="post">
    {% csrf_token %}
    <!--{{К}}-->
    <div class="form-group col-md-4 mb-0">
        {% for field in user_form %}
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-danger">
                {{field.errors}}
            </div>
            {% endif %}

            {{field.label}}
            {{field}}
        </div>
        {% endfor %}
        <p><input class="btn btn-outline-warning btn-lg btn-block" type="submit" value="Создать свой аккаунт"></p>
    </div>
</form>
{% endblock %}