<div class="container">
  <div class="row">

    <div class="col-md-6 col-lg-6 p-1">
      <div class="card bg-dark text-white">
        <img src="foto.png" class="card-img" alt="...">
        <div class="card-img-overlay col-md-8">
          <h5 class="card-title fw-bold fs-2">Сколько стоит вещь?</h5>
          <p class="card-text">Сфотографируйте вещь, заполните форму и отправьте нам!</p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-warning position-absolute bottom-0 m-1">Подробнее</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-6 p-1">
      <div class="card bg-dark text-white position-relative">
        <img src="foto.png" class="card-img" alt="...">
        <div class="card-img-overlay col-md-8">
          <h5 class="card-title fw-bold fs-2">Каталог товаров</h5>
          <p class="card-text">Телефоны, компьютеры, телевизиры...</p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-warning position-absolute bottom-0 m-1">Подробнее</a>
        </div>
      </div>
    </div>

  </div>
</div>