<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Комиссионный магазин{% endblock %}</title>
    {% include 'include/_link.html' %}
</head>

<body>
    <div class="wrapper">
        <header class="header">
            {% include 'include/_header.html' %}
            {% comment %} {% include 'include/message.html' %} {% endcomment %}
        </header>
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            {% include 'include/_footer.html' %}
        </footer>
    </div>
    
    {% block java_script %}
    {% endblock %}
    {% include 'include/_scripts.html' %}
</body>

</html>