{% extends "shop/base_shop.html" %}

{% block content %}
<div class="product_detail">
    <!-- slug путь:) -->
    <div class="product_detail__breadcrumb">
        <ul>
            <li><a href="{% url 'shop:category_list' %}">Категории</a></li>
            <li><a href="{{ product.category.get_absolute_url }}">{{product.category}}</a></li>
            <li class="active"><a href="{{url_cast}}">{{brand_cast}}</a></li>
        </ul>
    </div>

    <div class="row">
        <!-- Карусель фотографий товара -->
        <div class="product_detail__photo col-lg-5 col-md-5 mt-4">
            {% include 'shop/product_detail/include/product_photo.html' %}
        </div>
        <!--  -->
        <!-- Название товара и корзина -->
        <div class="thubnail-desc fix col-lg-7 col-md-7 mt-4">
            <h3 class="text-muted">{{product.name }}</h3>

            <div class="pro-price mb-10">
                <p class="text-dark h1 font-weight-bold"><strong>
                        {{ product.price }}<span class="h2 font-weight-bold"><strong>₽</strong></span>
                    </strong></p>
            </div>

            <!-- Добавить в корзину -->
            <div class="box-quantity">
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <div style="display: none">{{ cart_product_form.quantity }}</div>
                    <button type="submit" class="btn btn-outline-warning btn-lg">
                        Добавить в корзину
                    </button>
                </form>
            </div>
            <!--    Описание и характеристики-->
            <div class="my-3">
                {% include 'shop/product_detail/include/description_and_characteristics.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block java_script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script src="js/slick.min.js"></script>-->
<!--<script src="js/set_slick.js"></script>-->

<script src="{% static 'js/slick_slider/slick.min.js' %}"></script>
<script src="{% static 'js/slick_slider/set_slick.js' %}"></script>
{% endblock %}