{% load crispy_forms_tags %}

<!-- Button trigger modal -->

<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 my-0 my-sm-0 my-lg-0 p-0">
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить в корзину
    </button>
</div><br>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Оформление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-7 mb-7 sm-7">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form.quantity|as_crispy_field }}
                        {% csrf_token %}
                        <br>

                        <button type="submit" class="btn btn-outline-warning">Оформить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
