<!-- Описание и характеристики -->
<div class="thumnail-desc pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <ul class="main-thumb-desc nav">
                    <li><a class="active" data-bs-toggle="tab" href="#dtail">Описание</a></li>
                    <li><a data-bs-toggle="tab" href="#review">Характеристики</a></li>
                </ul>

                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane fade show active">
                        {{ product.description|linebreaks }}
                    </div>
                    <div id="review" class="tab-pane">
                        22222
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->