<!-- Описание и характеристики -->
<div class="thumnail-desc pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav">
                    <li><a class="active" data-toggle="tab" href="#dtail">Описание</a></li>
                    <li><a data-toggle="tab" href="#review">Характеристики</a></li>
                </ul>

                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane in active">
                        <p>Everything you need for a trip to the gym will fit inside this surprisingly spacious Products Name Here. Stock it with a water bottle, change of clothes, pair of shoes, and even a few beauty products. Fits inside a locker and zips shut for security.</p>
                        <ul class="tab-list-item">
                            <li> Slip pocket on front.</li>
                            <li> Contrast piping.</li>
                            <li> Durable nylon construction.</li>
                        </ul>
                    </div>
                    <div id="review" class="tab-pane">
                        <div class="review">
                            <div class="group-title">
                                <h2>customer review</h2>
                            </div>
                            <h4 class="review-mini-title">Jantrik</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--  -->