<!-- Описание и характеристики -->

{% load search_filter %}
<div class="thumnail-desc pb-60">

        <div class="row">
            <div class="col-xl-10 p-0">

                <ul class="main-thumb-desc nav">
                    <li><a class="active" data-bs-toggle="tab" href="#dtail">Описание</a></li>
                    <li><a data-bs-toggle="tab" href="#review">Характеристики</a></li>
                </ul>

                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane fade show active">
                        {{ product.description|linebreaks }}

                    </div>
                    <div id="review" class="tab-pane">

                        {% for i22 in spec_wi %}
                            <div class="text-muted">{{i22}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

</div>
<!--  -->