<div class="tab-content">

    {% for image_item in product.productimage.all %}
        {% if image_item.is_main == True %}
            <div id="f{{image_item.id}}" class="tab-pane active">
                <a data-fancybox="images" href="{{ image_item.image.url }}">
                    <img src="{{ image_item.image.url }}" alt="product-view">
                </a>
            </div>
        {% else %}
            <div id="f{{image_item.id}}" class="tab-pane">
                <a data-fancybox="images" href="{{ image_item.image.url }}">
                    <img src="{{ image_item.image.url }}" alt="product-view">
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="product-thumbnail">
    <div class="thumb-menu nav">
        {% for image_item in product.productimage.all %}
            {% if image_item.is_main == True %}
                <a class="active" data-toggle="tab" href="#f{{image_item.id}}">
                    <img src="{{ image_item.image.url }}" alt="product-thumbnail">
                </a>
            {% else %}
                <a data-toggle="tab" href="#f{{image_item.id}}">
                    <img src="{{ image_item.image.url }}" alt="product-thumbnail">
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>


