{% extends 'specs/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'specs/update_product_features/modal.html' %}

<div class="category-validator-div">
    <form action="{% url 'editing-subcategory2' %}" method="get">
        <label for="category-validators-id">Категория</label>
        <select class="form-select" name="category-validators" id="category-validators-id"
            aria-label="Default select example">

            <option selected>---</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name_cat }}</option>
            {% endfor %}
        </select>

        <button class="btn btn-primary col-1 mb-1" att_test="test">Далее</button>
    </form>
</div>





{% endblock %}
{% block productfeaturesupdate %}
<div id="product-features-update-list" class="col-md-12 product-features-update-list">
</div>
<br><br><br><br><br><br>
{% endblock productfeaturesupdate %}

{% block js %}
{% comment %} <script src="{% static 'js/editing_subcategory.js' %}"></script> {% endcomment %}
{% endblock js %}