{% extends "account/base_account.html" %}
{% load static %}

{% block content %}
<main class="main">
  <!--  -->
  <div class="back-button container">
    <a href="{% url 'dashboard' %}"><span class="icon-arrow"></span>назад</a>
  </div>

  <div class="authorization container">
    <div class="authorization__wrapper">
      <div class="authorization__title">
        <span>Изменение пароля</span>
      </div>

      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="authorization__body">
          {{ form.errors }}
          <div class="authorization__password">
            {{ form.old_password }}
            {% comment %} <input class="input-base" type="password" placeholder="Старый пароль*" /> {% endcomment %}
          </div>
          <div class="authorization__password">
            {{ form.new_password1 }}
            {% comment %} <input class="input-base" type="password" placeholder="Новый пароль*" /> {% endcomment %}
          </div>

          <div class="authorization__password">
            {{ form.new_password2 }}
            {% comment %} <input class="input-base" type="password" placeholder="Подтверждение пароля*" />
            {% endcomment %}
          </div>

          <div class="authorization__btn">
            <button type='submit' class="btn-yellow">Подтвердить</button>
          </div>
      </form>

    </div>
  </div>
  </div>
  <!--  -->
</main>
{% endblock %}