<div class="list-group">
    <a href="{% url 'create-characteristic' %}"
        class="list-group-item list-group-item-action {% if request.path == '/spec/create-characteristic/' %}active{% endif %}"
        aria-current="true">Создать характеристики для товара
    </a>

    <a href="{% url 'update-product-features' %}"
        class="list-group-item list-group-item-action {% if request.path == '/spec/update-product-features/' %}active{% endif %}"
        aria-current="true">Редактировать характеристику для товара
    </a>
    <a href="{% url 'editing-subcategory' %}"
        class="list-group-item list-group-item-action {% if request.path == '/spec/editing-subcategory/' %}active{% endif %}"
        aria-current="true">Редактировать подкатегорию характеристики
    </a>
</div>