html, body{
	height: 100%;
	max-height: 100%;
	font-family: 'Robota', sans-serif;
	max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

}

/* Шрифты */
.fa-code,.fa-bold,.fa-css3{
	font-size: 4em;
	margin: 1em;
}
.alert{
	border-top: 2px solid #f0f0f0;
	width: 95%;
	margin-top: 0.3em;
	margin-bottom: 1em;
}




.Otstup10px{
    padding-top: 10px;
}

.sidebarcss{
    padding-top: 10px;
    padding-bottom: 50px;
}

/* nav-tabs */
.nav-item{

    border-color: #ffc107;
    color: #fff;
}

/* Start СПИСОК ТОВАРА */
.categoriy{
    max-width: 100%;
    min-height: 100px;
}

}


.container-fluid padding{
    margin: 100px;
    background:#5993bb;
}

