/*----------------------------
/ Start ФУТЕР
/----------------------------*/
#5617{
    color: white;
}
.footer > .container{
    width: auto;

    padding: 0 15px;
}


@media (max-width:750px){
    .brand1 {
    font-size:1.4em;
    }
}
/*----------------------------
/ Start КАТЕГОРИИ/
/----------------------------*/
#sidebar {
    /*
    width:300px;
    float:left;
    */
    padding:10px 0px 10px 0px;
}

#sidebar ul{
    border:0px;
    margin-top:10px;
    padding:0px;
}
#sidebar ul li {
    margin:10;
    list-style:none;
    padding:10px 14px;
}
#sidebar ul li a {
    display:block;
}
#sidebar ul li.selected {
    background:#3CB371;
    border-radius:4px;
}
#sidebar ul li.selected a {
    color:#fff;
}
