{% load static %}

<!--bootstrap5-->
<link href="{% static 'css_bootstrap/bootstrap.min.css' %}" rel="stylesheet">

<!--Иконки-->
<script src="https://use.fontawesome.com/89e59111e1.js"></script>

<!--owl.carousel.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
<link href="{% static 'css/shop_base.css' %}" rel="stylesheet">


