{% load static %}

<!--bootstrap5-->
<link href="{% static 'css_bootstrap/bootstrap.min.css' %}" rel="stylesheet">

<!--шрифт-->
<script src="https://use.fontawesome.com/89e59111e1.js"></script>

<!--owl.carousel.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<!--мой css-->
<link href="{% static 'cssMy/navbar.css' %}" rel="stylesheet">
<link href="{% static 'cssMy/footer.css' %}" rel="stylesheet">
<link href="{% static 'cssMy/base.css' %}" rel="stylesheet">
<link href="{% static 'cssMy/base_block.css' %}" rel="stylesheet">

<link href="{% static 'cssMy/pagination.css' %}" rel="stylesheet">


<!--Product-->
<!-- default css  -->
<!--<link rel="stylesheet" href="{% static 'css/product/default.css' %}">-->
<!-- style css -->
<link rel="stylesheet" href="{% static 'css/product/style.css' %}">
<!-- fancybox css (галерея фотографий) -->
<link rel="stylesheet" href="{% static 'css/product/jquery.fancybox.css' %}">
<!-- bootstrap css -->
<!--<link rel="stylesheet" href="{% static 'css/product/bootstrap.min.css' %}">-->