{% load static %}

<!--jquery-->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
-->

<!--bootstrap5-->
<script src="{% static 'js_bootstrap/bootstrap.bundle.min.js' %}"></script>

<!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
-->

<!--owl.carousel.min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>


<!--Product-->
<!-- jquery 3.12.4 -->
<!--<script src="{% static 'js/product/jquery-1.12.4.min.js' %}"></script>-->
<!-- fancybox js -->

<script src="{% static 'js/product/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/product/fancybox_settings.js' %}"></script>

<!-- bootstrap 4 -->
<!--<script src="{% static 'js/product/bootstrap.min.js' %}"></script>-->