<div class="sidebarcss" id="sidebar">
    <button class="btn btn-outline-warning btn-block btn-lg" data-toggle="collapse" data-target="#hide">
        Категории
    </button>

    <div class="collapse" id="hide">
        <ul class="text-justify">
            <li {% if not category %} class="selected" {% endif %}>
                <a class="text-dark" href="{% url 'shop:product_list' %}">Все</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                    <a class="text-dark" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>