<div class="row">
    {% for pS in products %}
        <div class="col-6 col-sm-6 col-lg-4">
            <a href="{{ pS.get_absolute_url }}">
                {% if pS.image %}
                    <img src="{{ pS.image.url }}" class="img-fluid" alt="Responsive image">
                {% endif %}
            </a>
            <a href="{{ pS.get_absolute_url }}">
                <p class="text-muted m-0" style="height: 50px">{{ pS.name }}</p>
            </a>
            <p class="text-dark h5 font-weight-bold">{{ pS.price }}₽</p>
            <br><br>
        </div>
    {% endfor %}
</div>